* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

.top-bar{
    margin: 30px;

    grid-template-columns: repeat(3, 1fr) 2fr;
    display: grid;
}

.top-bar > button{
    justify-self: center;
    background-color: yellow;
}

.top-bar > label{
    justify-self: end;
    margin-right: 5px;
}

.top-bar > select{
    justify-self: start;
    height: 1.5rem;
}

.matrix-input{
    border-style: solid;
    border-width: 2px;
    padding: 0.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.input-left{
    
    
    justify-self: center;
    width: 75%;
    text-align: center;
    padding: 10px;
    
}

.input-right{
    
    
    justify-self: center;
    width: 75%;
    text-align: center;
    padding: 10px;
}

.dim-input{
    text-align: center;
}

#matrix-a-cells{
    display: block;
}

#matrix-a-textbox{
    display: none;
}

#matrix-b-cells{
    display: block;
}

#matrix-b-textbox{
    display: none;
}

.cells-grid{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 25px);
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.cell{
    height: 25px;
    width: 50px;
    background-color: orange;
    text-align: center;
}

#fill-value-a, #fill-value-b{
    border:none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    margin-left: 3px;
    width: 35px;
    text-align: center;
}


.input-bottom{
    text-align: center;
    grid-column: span 2;
}

.matrix-output{
    text-align: center;
    background-color: rgba(42, 209, 0, 0.621);
    border-bottom:solid;
    padding:20px;

}

.solution-matrix{
    display:grid;

    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    margin:50px;
}
.output-cell{
    border:solid;
    border-width: 1px;
    padding: 5px;
}

.highlight-cell{
    background-color: rgba(81, 255, 0, 0.801);
}

.solution-steps{
    padding: 20px;
}

.solution-step{
    border-bottom: solid;
    border-color: grey;
    border-width: 2px;
    text-align: center;
}

.matrix-textbox{
    margin: 10px;
    resize:none;
    
}